REDIS_URL=redis://redis:6379/0
FETCH_CONCURRENCY=32
FETCH_PER_HOST_LIMIT=8
FETCH_WORKER_CONCURRENCY=32
PARSE_WORKER_CONCURRENCY=4
BOOTSTRAP_WORKER_CONCURRENCY=1
AGG_WORKER_CONCURRENCY=1
FULL_RUN=1
# DEMO_OGRN=1022200525841
